html {
  background-color: var(--color-back);
  overflow: hidden;
}

body {
  margin :0;
}


.theme-original {
  --color-back: #5A97BB;
  --color-light: #fce9cb;
  --color-button-send: #f4c7ba;
  --color-button-hover: #e6a5ab;
  --color-emoji-picker: white;
  --color-back-sidebar: #dff2f9;
  --color-right-sidebar-border: #c26c70;
  --color-sidebar: #ddd;
  --color-sidebar-hover: #fbfefc;
  --color-namechannel: #f4c4ba;
  --color-h3: #5ab6db;
  --color-text: #9c6956;
  --color-text-send-button: #c26c70;
  --color-back-input : #EED0A6;

}

/* Thème néon */
.theme-neon {
  --color-back: black;
  --color-light: #0BA278;
  --color-button-send: #e74c3c;
  --color-button-hover: #c0392b;
  --color-emoji-picker: #2c3e50;
  --color-back-sidebar: #6c1c0a;
  --color-right-sidebar-border: #e74c3c;
  --color-sidebar: #6c1c0a;
  --color-sidebar-hover: #3d566e;
  --color-namechannel: #A7A8A6;
  --color-h3: #EB2326;
  --color-text: #3CEDC1;
  --color-text-send-button: #f1dfdd;
  --color-back-input : #A7A8A6;
}


/* Thème cyber */
.theme-cyber {
  --color-back: #efefef;
  --color-light: black;
  --color-button-send: #534e8c;
  --color-button-hover: #5b516c;
  --color-emoji-picker: #c1abbf;
  --color-back-sidebar: #c1abbf;
  --color-right-sidebar-border: #534e8c;
  --color-sidebar: #e8f5e9;
  --color-sidebar-hover: #f1f8e9;
  --color-namechannel: #d43d36;
  --color-h3: #534e8c;
  --color-text: #aeaeae;
  --color-text-send-button: #efefef;
  --color-back-input : #bf7c80;
}
