@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Sniglet:wght@400;800&display=swap');
:root {
    --color-back : #5A97BB;
    --color-light : #ECE9CA;
    --color-dark : #EED0A6;
    --color-button : #E09182;
    --color-banner : #688C80;
    --color-text : #9A4F42;
}

html {
    background-color: var(--color-back);
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-family: "Sniglet", serif;
    font-weight: 400;
    font-style: normal;
    color:var(--color-text);
    font-size: 48px;
    margin-bottom: 5px;
}

p{
    font-family: "Sniglet", serif;
    font-weight: 400;
    font-size: 18px;
    color:var(--color-text);
    text-align: center;
}

label {
    font-family: "La Belle Aurore", serif;
    font-weight: 400;
    font-style: normal;
    color:var(--color-text);
    font-size: 33px;
    margin: 2px 0;
}

input {
    padding: 5px;
    outline: 0;
    border-radius: 10px;
    background-color: var(--color-dark);
    border:none;
    height: 35px;
    font-family: "Sniglet", serif;
    font-weight: 400;
    font-size: 18px;
    color:var(--color-text);
}

.form_login {
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
    width: 420px;
    padding: 20px;
    border-radius: 15px;
}

.form_login .message_error{
    color: var(--color-button);
    font-family: "Sniglet", serif;
    font-weight: 400;
    margin:0;
    font-size: 18px;
    text-align: start;
}

.button {
    background-color: var(--color-button);
    margin-top: 50px;
    height: 40px;
    font-family: "Sniglet", serif;
    font-weight: 400;
    font-size: 18px;
    color:var(--color-text);

}