@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Sniglet:wght@400;800&display=swap');
:root {
  --color-back : #5A97BB;
  --color-light : #ECE9CA;
  --color-dark : #EED0A6;
  --color-button : #E09182;
  --color-banner : #688C80;
  --color-text : #9A4F42;
}

html {
  background-color: var(--color-back);
  overflow: hidden;
}

.app-container {
  height: 100vh;
  width: 100vw;
  margin: 0;

}

body {
  margin:0;
}